body {
     text-align: justify;
   }
   
   h4 {
     text-align: center;
   }
   h5 {
     text-align: center;
   }
   
   h6 {
     text-align: left;
   }
   body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  